h1 {
	font-size: 24px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 16px;
}
h1, h2, h3 {
	margin-top: 10px;
}

.row.header {
	background-color: #E3E3E3;
	line-height: 2em;
}

.company-name,
.company-location,
.job-start,
.job-end {
	color: #777;
}