@import "../../node_modules/bootstrap/less/bootstrap";
@import "print";

h1 {
	font-size: 24px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 16px;
}
h1, h2, h3 {
	margin-top: 10px;
}

.row.header {
	background-color: @gray-lighter;
	line-height: 2em;
}

.company-name,
.company-location,
.job-date-range {
	color: @gray-light;
}

@media (max-width: @screen-xs-max) {
	header {
		.text-right,
		.text-left {
			text-align: center;
		}
	}
}