
@media print {
	body {
		font-size: 8pt;
		line-height: 10pt;

		@import "../../node_modules/bootstrap/scss/bootstrap";
		@import "main";

		h1 {
			font-size: 12pt;
		}
		h2 {
			font-size: 10pt;
		}
		h3 {
			font-size: 9pt;
		}

		div.col-md-3 {
			&.col-xs-12,
			&.col-xs-6 {
				width: 25% !important;
				float: left;
			}
		}

		.text-left {
			text-align: left;
		}
		.text-center {
			text-align: center;
		}
		.text-right {
			text-align: right;
		}
	}

	a {
		text-decoration: none;

		&[href]:after {
			content: none;
		}
	}

	.header {
		border-bottom: 1pt solid $gray-700;
	}

	.table {
		.table-condensed {
			page-break-inside: avoid;
		}
	}
}