- studies = resume.getStudies()
if studies.length
	table.table.table-condensed
		thead
			tr
				th School
				th Where
				th Study
				th When
		tbody
			each study in studies
				tr
					td= study.institution
					td= study.location
					td= study.areaOfStudy
					td= $utils.dateRange(study.attendStart, study.attendEnd)