//- if (docformat === "pdf")
	//- link(rel="stylesheet", href="main.css")
.row.header
	header
		div.col-xs-12.col-md-3.text-left
			span.contact-name= person.name
		div.col-xs-6.col-md-3.text-center
			a.contact-email(href="mailto:"+person.email)= person.email
		div.col-xs-6.col-md-3.text-center
			a.contact-github(href="https://github.com/"+person.github, target="_blank")= "github.com/"+person.github
		div.col-xs-12.col-md-3.text-right
			a(href="tel:+1"+$utils.phone.normalize(person.phone)).contact-phone= $utils.phone.format(person.phone, "NNN.NNN.NNNN")