h2.job-title= job.title
  small.pull-right.company-name= job.company
.col-md-6
  span.company-location.city-state= job.location
.col-md-6
  span.job-start.month-year= $utils.shortDate(job["start-date"])
  span!="&nbsp;-&nbsp;"
  if job["end-date"]
    span.job-end.month-year= $utils.shortDate(job["end-date"])
  else
    span.job-end.month-year Present