each personalProject in personalProjects
	.row
		.col-xs-12.col-md-6!= personalProject.text()
		.col-xs-12.col-md-6.skills-section
			- projectSkills = personalProject.getSkills()
			include ./project-skills.pug
	.row
		.col
			hr