if job.projects
	.col-xs-12
		h3 Projects
	.col-xs-12
		ul
			each project in job.projects
				if project.client
					li= $utils.getDesc(project)+' ('+project.client+')'
				else
					li= $utils.getDesc(project)